.button-container {
  width: 250px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.control-button:hover {
  opacity: .8;
}

.get-results {
  background-color: orange;
}

.stop {
  background-color: red;
}

div.data-container.active {
  min-width: 1200px;
  width: 70%;
  display: grid;
  grid-template-columns: 10fr 1fr 3fr repeat(2, 2fr);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

div.col {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 5px;
}