@import url('https://fonts.googleapis.com/css2?family=Abel&family=Source+Code+Pro&display=swap');

* {
  transition: all ease-out .2s;
}

body{
  z-index: 1;
}

body, input {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./img/server-room-purple-uhd-4k-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.1;
  width: 100%;
}

main {
  height: 320px;
  width: 320px;
  margin: auto;
  background-color: transparent;
  z-index: -1;
  opacity: 1;
  filter:alpha(opacity=100);
}

code {
  font-family: 'Source Code Pro', monospace;
}

.control-button:hover {
  box-shadow: 
    rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.input-field label.black-text {
  font-size: 14px;
}

table {
  font-size: .7em;
}

div#modal.modal.open {
  font-size: 1em;
  max-height: 85%;
}

div#modal pre {
  font-size: .5em;
  background-color: rgba(0, 0, 0, .1);
  height: 50vh;
  overflow: auto;
  padding: 10px;
}

.check-object-link:hover {
  box-shadow: 
    rgba(0, 0, 0, 0.3) 0px 9px 19px, 
    rgba(0, 0, 0, 0.22) 0px 7px 6px;;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #000;
}

.select-wrapper input.select-dropdown {
  font-size: .95em;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #000;
}
